body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brand-logo {
  margin-left: 1em;
}

.cover {
  object-fit: cover;
  object-position: 50% 50%;
}

.landscape {
  max-height: 200px;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.hidden-overflow {
  overflow: hidden;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/jantine-doornbos-398339-unsplash.jpg') no-repeat center
      center;
  background-size: cover;
  color: white;
  height: 100vh;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.material-icons {
  font-family: 'Material Icons';
  font-size: 24px;
}
